// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#update-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 34px;
}

#list-line-items .remove-product {
  position: relative;
  right: 0px;
  top: 0px;
}

#suggest-shopping {
  a {
    font-size: larger;
    color: red;
  }
}


