// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .image-home{
//   height: auto;
//   width: 100%;
// }
.image_255x343{
  width: 255px;
  height: 343.767px;
}

.image_160x215{
  width: 160px;
  height: 215.7px;
}
.image-detail-main_409x551{
  width: 409px;
  height: 551px;
}