<div class="mainmenu-area hidden-sm hidden-xs">
  <div id="sticker"> 
      <div class="container">
          <div class="row">   
              <div class="col-lg-12 col-md-12 hidden-sm">
                  <div class="mainmenu">
                      <nav>
                          <ul id="nav">
                              <li class="current">
                                <%= link_to "Home", root_path, method: :get %>
                              </li>
                              <% Category.where(parent_id: nil).each do |root_category| %>
                                <li>
                                  <a href="shop-grid.html"><%= root_category.name %></a>
                                  <div class="megamenu">
                                      <div class="megamenu-list clearfix">
                                          <% root_category.children.each do |children| %>
                                            <span>                      
                                                <a href="#" class="mega-title"><%= children.name %></a>
                                                <% children.children.each do |small|%>
                                                  <a href="#"><%= small.name %></a>
                                                <% end %>
                                            </span>
                                          <% end %>
                                      </div>
                                  </div>
                                </li>
                              <% end %>
                              <li><a href="contact.html">Contact Us</a></li>
                          </ul>
                      </nav>
                  </div>        
              </div>
          </div>
      </div>
  </div>      
</div>