<!DOCTYPE html>
<html>
  <head>
    <title>Mozar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900,700,700italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/jquery-ui.css">
    <link rel="stylesheet" href="/assets/meanmenu.min.css">
    <link rel="stylesheet" href="/assets/animate.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
    <script src="/assets/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <%= yield %>  
  </body>
  <script src="/assets/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="/assets/home.js" type="text/javascript"></script>
  <script src="/assets/wow.min.js" type="text/javascript"></script>
  <script src="/assets/jquery.meanmenu.js" type="text/javascript"></script>
  <script src="/assets/owl.carousel.min.js" type="text/javascript"></script>
  <script src="/assets/jquery-price-slider.js" type="text/javascript"></script> 
  <script src="/assets/jquery.scrollUp.min.js" type="text/javascript"></script>
  <script src="/assets/jquery.countdown.min.js" type="text/javascript"></script>
  <script src="/assets/jquery.sticky.js" type="text/javascript"></script>
  <script src="/assets/jquery.elevateZoom-3.0.8.min.js" type="text/javascript"></script>
  <script src="/assets/plugins.js" type="text/javascript"></script>
  <script src="/assets/main.js" type="text/javascript"></script>
</html>